{# Contenu du footer #}
<div class="bg-primary container-fluid">
    <div class=" d-flex flex-column align-content-center flex-wrap  ">
        <div class ="d-flex flex-row justify-content-center ">
            <a href="#"class="m-2  "><i class="fab fa-facebook"></i> </a>
            <a href="#"class="m-2  "><i class="fab fa-github"></i> </a>
            <a href="#"class="m-2  " ><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <p class="text-xxl" > Copyright YesCode  {{ "now"|date("Y") }}</p>
    </div>
</div>